.App {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.resumeTitle{
    text-align: center;
}
.additionalInfo{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;
}
.contactDetails{
  text-align: left;
}
.urlInfo{
    text-align: right;
}
.list{
  text-align: left;
}
.leftHeader{
  text-align: left;
}